/* Import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;400;500&family=Bebas+Neue&display=swap');

/* Reset Styles */
* {
    padding: 0;
    margin: 0;
}

h1,
h2 {
    text-transform: uppercase;
    font-size: 150%;
}

h3 {
    font-size: 140%;
}

h4 {
    font-size: 130%;
}

h5 {
    font-size: 120%;
}

/* Body Styles */
body {
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #046997;
    width: calc(100% - 1rem - 1rem);
    display: flex;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
    height: 60px;
    box-shadow: 0 2px 2px #333333;
}

/* removed underlines from links */
header a,
body a {
    text-decoration: none;
    color: inherit;
}

/*Heading Text in top left*/
#logo {
    font-family: 'Barlow Condensed', sans-serif;
    color: #FFFFFF;
    font-size: 200%;
}

/* navigation styling */
#navigation {
    list-style-type: none;
    font-size: 150%;
    color: #FFFFFF;
}

#navigation li {
    padding-bottom: 5px;
}

/* underline for active page */
.active {
    border-bottom: 2px solid #f18e1c;
}

/* Navbar style */
nav {
    position: absolute;
    background-color: #046997;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #333333;
    top: 100%;
}

/* Main content pushed down to accomodate nav */
main {
    flex: 1;
    margin-top: 162px;
    font-size: 120%;
}

.page-title {
    font-size: 150%;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    background-color: #046997;
    color: #FFFFFF;
}

.center {
    display: flex;
    align-items: center;
}

/* index page styles*/

/* Main Image Styles */
#main-image {
    height: 500px;
    width: 100%;
    background: url(../images/pexels-matt-hardy-sea-hero.jpg) no-repeat center center/cover;
    position: relative;
}

#cover-message {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(17, 159, 184, 0.74);
    font-size: 130%;
    position: absolute;
    bottom: 40px;
    width: 270px;
    min-height: 100px;
    padding-top: 10px;
    padding-left: 10px;
    color: #FFFFFF;
}

/* Info Section Styles */
#info {
    display: flex;
}

#info p {
    padding: 0 15px;
}

#text-body div {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
}

#second-image {
    height: 500px;
    width: 100%;
    position: relative;
    object-fit: cover;
}

/* Save the World Page Styles */

#earth img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#earth {
    align-items: center;
    display: flex;
}

#earth-section-1>div,
#earth-section-2>div {
    padding-bottom: 1rem;
}

#page-content {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
}

/* Volunteer Page Styles */
#photos img {
    width: 100%;
    line-height: 1em;
}

#photos {
    line-height: 0;
}

#events h4 {
    padding-top: 5px;

}

#events p {
    padding-left: 5px;
}

/* Form styles */
#form-sign-up {
    padding: 1rem 10%;
}

#form-sign-up form {
    padding: 1rem 0.5rem;
}

form div {
    margin: 10px 0;
}

.text-input-box {
    width: 100%;
    padding: 0.4rem 0;
    border: 0.5px solid;
    border-radius: 5px;
}

.signup-button {
    width: 10rem;
    padding: 1.25rem 0;
    background-color: #f18e1c;
    color: #FFFFFF;
    border: none;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 106%;
    border-radius: 10px;
    margin: 0.5rem 0;
    text-align: center;
}

.signup-button:hover {
    background-color: #046997;
}

/* Footer Styles */
footer {
    background-color: #046997;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    padding: 5px 0;
}

footer div {
    padding: 10px 0px;
}


/* Social Networks Icons Styles */
#social-networks {
    display: flex;
    list-style-type: none;
}

#social-networks i {
    font-size: 200%;
    padding: 0.5rem 1rem;
    color: #ffffff;
}

#social-networks i:hover {
    color: #f18e1c;
}

#social-networks li {
    padding-left: 5px;
}

/* Media query: large or landscape phones (576px and up)*/
@media screen and (min-width: 576px) {

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding: 1rem;
        display: contents;
    }

    #navigation {
        display: flex;
        font-size: 110%
    }

    #navigation>li {
        padding: 0 0.5rem;
    }

    #logo {
        line-height: 10px;
        letter-spacing: 2px;
    }

    main {
        margin-top: 60px;
    }

    #cover-message {
        left: 50px;
    }

    #text-main {
        display: flex;
        flex-direction: row;
    }

    #text-main>div {
        flex: 1;
    }

    #second-image {
        order: 1;
        height: 100%;
    }

    #text-body {
        order: 0;
    }

    #text-body>div {
        align-self: flex-start;
    }

    #second-image>div {
        align-self: flex-end;
    }

    /* Volunteer Image */

    #photos {
        column-count: 2;
        column-gap: 0;
        height: 50%;
    }
}


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Index styles */

    #navigation {
        font-size: 150%
    }

    #logo {
        font-size: 250%;
    }

    #info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    #text-main {
        flex: 1;
        padding: 0 1rem;
        order: -1;
        width: 50%;
    }

    /* Save world Styles*/
    #page-content {
        display: flex;
        flex-direction: row;
    }

    #page-content>div {
        flex: 1;
    }

    #earth img {
        height: 350px;
        width: 350px;
        order: 1
    }

    #earth-section-1 {
        padding-right: 0.5rem;
    }

    #earth-section-2 {
        order: 2;
        padding-left: 0.5rem;
    }

    #earth-section-1>div {
        align-self: flex-start;
    }

    #earth-section-2>div {
        align-self: flex-end;
    }

    /* Volunteer styles */
    #photos {
        column-count: 1;
        column-gap: 0;
        height: 50%;
    }

    #main-content {
        display: flex;
        flex-wrap: nowrap;
    }

    #image-gallery {
        width: 50%;
        height: 100%;
    }

    #form-sign-up {
        width: 50%;
        padding: 1rem 5rem 1rem 1rem;
    }

    /* Footer */
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

/* Media query: desktop monitors (1100px and up) */
@media screen and (min-width: 1100px) {

    /* Volunteer styles */
    #photos {
        column-count: 2;
        column-gap: 0;
        height: 50%;
    }

    /* Save world Styles*/
    #earth img {
        height: 500px;
        width: 500px;
    }
}