/* Change default margin, padding and border to 0 and none */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Barlow Condensed', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #046997;
    width: 100%;
    display: flex;
    position: fixed;
    z-index: 999;
    justify-content: space-between;
}

/* removed underlines from links */
header a {
    text-decoration: none;
    color: inherit;
}

#logo {
    font-family: 'Bebas Neue', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFFFFF;
    font-size: 250%;
}

/* navigation styling */
#navigation {
    list-style-type: none;
    font-size: 120%;
}

.active {
    border-bottom: 1px solid #333333;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #046997;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #333333;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}